<div style="height: 100vh;">
  <div class="w-100 d-flex justify-content-center align-item-center m-0 ap-profile-page-main-body-section">
    <div class="d-flex justify-content-center align-item-center ap-profile-page-start">
      <div>
        <div class="ap-profile-page-bento-grid">
          <div class="ap-profile-page-profile-picture">
            <img src="../assets/profile-pic/Screenshot_20241208_182311_Chrome.jpg" alt="Profile Picture" />
          </div>
          <div class="ap-profile-page-biography">
            <h2 class="ap-profile-page-name-section">Nischitha N</h2>
            <div class="ap-profile-page-sub-section">Angular developer</div>
            <div class="ap-profile-page-typing-container m-0">
              Expertise in building dynamic, scalable, and responsive single-page applications.
            </div>
          </div>
          <div class="ap-profile-page-skills">
            <h2 class="ap-profile-page-common-subheader">Skills</h2>
            <ul>
              <li>Angular (versions 2+ to the latest)</li>
              <li>HTML, CSS, SCSS</li>
              <li>JavaScript, TypeScript</li>
              <li>Experienced in using Git Flow for version control</li>
              <li>Skilled in managing Agile workflows and tracking sprint progress</li>
            </ul>
          </div>
          <div class="ap-profile-page-portfolio">
            <h2 class="ap-profile-page-common-subheader">Project</h2>
            <ul>
              <li>Pronnel : web application</li>
              <li>My portfolio</li>
              <!-- <li><a href="#">Project 3</a></li> -->
            </ul>
            <h2 class="ap-profile-page-common-subheader">Work profile</h2>
            <ul>
              <li>Software Developer at Athmin technology</li>
            </ul>
            <h2 class="ap-profile-page-common-subheader">Additional Information</h2>
            <ul>
              <li>Professional classical dancer</li>
              <li>Travelling</li>
              <li>Reading books</li>
              <li>Crafting</li>
              <li>Gardening</li>
            </ul>
          </div>
          <div class="ap-profile-page-contact">
            <h2 class="ap-profile-page-common-subheader">Contact</h2>
            <div class="ap-profile-page-contact-section">Email: nischithan2000@gmail.com</div>
            <div class="ap-profile-page-contact-section">Phone: +91 7338608740</div>
            <div class="ap-profile-page-contact-section">Linkedin: <a
                href="https://www.linkedin.com/in/nischitha-n-45999028a"
                target="_blank">www.linkedin.com/in/nischitha-n-45999028a</a></div>
            <div class="ap-profile-page-contact-section">GitHub: <a href="https://github.com/NischiNN"
                target="_blank">github.com/NischiNN</a></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="ap-profile-page-wave ap-profile-page-wave1"></div>
      <div class="ap-profile-page-wave ap-profile-page-wave2"></div>
      <div class="ap-profile-page-wave ap-profile-page-wave3"></div>
      <div class="ap-profile-page-wave ap-profile-page-wave4"></div>
    </div>
  </div>
</div>