<div class="w-100 d-flex justify-content-center align-item-center m-0 ap-profile-page-main-body-section">
  <div class="d-flex justify-content-center align-item-center ap-profile-page-start">
    <div>
      <div class="d-flex justify-content-center">
        <ngx-avatars [name]="'NISCHITHA'" src="../assets/profile-pic/Screenshot_20241208_182311_Chrome.jpg" size="200"></ngx-avatars>
      </div>
      <div class="d-flex justify-content-center pt-3">
        <span class="ap-profile-page-name">
          Nischitha N
        </span>
      </div>
      <div class="pt-3">
        <div class="d-flex justify-content-center align-item-center m-0 pt-2" style="column-gap: 10px;">
          <div class="ap-profile-page-common-button30">
            <span><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="ap-profile-page-name ap-profile-page-button-css">Home</span>
          </div>
          <div class="ap-profile-page-common-button30">
            <span><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="ap-profile-page-name ap-profile-page-button-css">Contact</span>
          </div>
        </div>
        <div class="d-flex justify-content-center align-item-center m-0 pt-2" style="column-gap: 10px;">
          <div class="ap-profile-page-common-button30">
            <span><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="ap-profile-page-name ap-profile-page-button-css">About</span>
          </div>
          <div class="ap-profile-page-common-button30">
            <span><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="ap-profile-page-name ap-profile-page-button-css">Education</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>